:root {
    --color-00: #252422;
    --color-01: #403d39;
    --color-02: #ccc5b9;
    --color-03: #fffcf2;
    --color-04: #f0f0f0;
    --color-05: #eb5e28;

    --border-radius: 8px;
    /* --color-00: #001233;
    --color-03: #f0f0f0;
    --border-color: #979DAC; */
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Incluye padding y border dentro del width/height */
}

html,
body {
    height: 100%;
    /* Hace que el body ocupe toda la altura del viewport */
    font-family: 'Roboto', Arial, Arial, Helvetica, sans-serif;
    font-weight: 300;
    /* Define una fuente base */
}

body {
    line-height: 1.6;
    /* Altura de línea más cómoda */
    background-color: var(--color-04);
    /* Fondo gris claro */
    color: var(--color-00);
    /* Color de texto predeterminado */
}

img,
video {
    max-width: 100%;
    /* Imágenes y videos adaptables */
    height: auto;
    /* Mantiene la proporción */
}

a {
    /* text-decoration: none; */
    /* Elimina el subrayado de los enlaces */
    color: inherit;
    /* Mantiene el color del enlace igual al texto circundante */
}

ul,
ol {
    list-style: disc;
    padding-left: 20px;
}

header ul,
footer ul {
    list-style: none;
    padding-left: 0;
}

table {
    border-collapse: collapse;
    /* Combina bordes de celdas adyacentes */
    width: 100%;
    /* Hace que la tabla ocupe todo el ancho disponible */
}

button {
    cursor: pointer;
    /* Muestra el cursor de mano en los botones */
    background: none;
    /* Elimina fondo predeterminado */
    border: none;
    /* Elimina borde predeterminado */
}

input,
button,
textarea {
    font-family: inherit;
    /* Mantiene la fuente del input/button igual al resto del sitio */
    outline: none;
    background-color: var(--color-04);
    border: var(--color-00) solid 1px;
    /* Elimina el contorno predeterminado al hacer foco */
}

/* CSS Reset */


textarea {
    height: 200px;
}

input,
textarea,
button {
    border-radius: var(--border-radius);
}

button {
    background-color: var(--color-00);
    color: var(--color-03);
    font-weight: bold;
    padding: 10px;
}

input,
textarea {
    padding: 15px 15px;
    resize: none;
}

::placeholder {
    color: #979DAC;
    /* Change this to your desired color */
}

footer {
    background-color: var(--color-00);
    color: var(--color-03);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

footer h4 {
    padding-top: 30px;
    padding-bottom: 10px;
}

h1,
h2,
h3 {
    font-family: 'Inter Tight', Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-size: 13pt;
    line-height: 15pt;
}

h3 {
    font-size: 12pt;
}

p,
label,
ul {
    font-size: 9pt;
}

label {
    font-weight: bold;
}

section {
    padding-top: 50px;
}

header {
    text-align: center;
}

header a {
    text-decoration: none;
}

.logo {
    width: 100px;
    margin-left: -60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.app-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%)
}

.app img {
    width: 100%;
}

.app .title {
    font-size: 10pt;
    line-height: 12pt;
    padding-top: 5px;
    font-weight: bold;
}

.app button {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.app p {
    font-size: 9pt;
    line-height: 12pt;
    padding-bottom: 5px;
    min-height: 38px;
}

.client-logos {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    /* For large screens: 1 row with 6 elements */
}

.client-logos img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.client-logos img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature {
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.feature img {
    height: 100%;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 10px;
}

.submit-container {
    padding-top: 10px;
    text-align: right;
}

.social {
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
}

.copyright {
    font-weight: bold;
}

.hamburger-menu {
    float: left;
    padding: 20px;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.grow {
    display: none;
    border-radius: var(--border-radius);
    border: var(--color-00) solid 1px;
}

/* Estilos responsivos */
/* @media screen and (max-width: 768px) { */
nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    /* Opcional: color de fondo del menú desplegable */
    position: absolute;
    top: 60px;
    /* Ajusta según la altura de tu header */
    left: 0;
}

nav ul.show {
    display: flex;
}

.hamburger-menu {
    display: flex;
}

nav ul li {
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
}

nav ul li a {
    color: #333;
}

/* } */

#apps-section,
#why-choose-us,
#contact {
    padding-left: 10px;
    padding-right: 10px;
}

#apps-section h2,
#articles-section h2,
#newsletter-section h2,
#why-choose-us h2,
#contact h2 {
    margin-bottom: 10px;
}

#why-choose-us h3 {
    margin-bottom: 8px;
}

#home {
    text-align: center;
    /* background: url(./images/back_mobile.webp); */
    padding: 150px 50px;
    background-position-y: -2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-00);
    color: var(--color-03);
}

#home button {
    font-size: 14pt;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: var(--color-01) solid 1px;
    background: var(--color-05);
}


#shadow-host-companion {
    display: none;
}

#why-choose-us h3 {
    text-align: center;
}

#why-choose-us>p {
    padding: 8px;
    line-height: 11pt;
    font-size: 10pt;
}

#contact {
    padding-bottom: 50px;
}

#contact input,
#contact textarea {
    width: 100%;
}

#contact form {
    padding-top: 14px;
}

/* Estilo general de la tarjeta */
.app-card {
    display: flex;
    align-items: flex-start;
    /* Alineación superior */
    width: 100%;
    /* Ocupar todo el contenedor */
    padding: 10px 15px;
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease;
}

.app-card:hover .icon-container {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.app-card:hover .app-name {
    text-decoration: underline;
    /* Subraya el título al hover */
}

/* Contenedor del ícono */
.icon-container {
    width: 50px;
    /* Cuadrado exacto */
    height: 50px;
    /* Cuadrado exacto */
    flex: 0 0 auto;
    /* Evita que el ícono se redimensione */
    background-color: var(--color-03);
    /* Fondo claro */
    border-radius: var(--border-radius);
    /* Bordes redondeados */
    overflow: hidden;
    /* Asegurar que el ícono no se salga */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-top: 5px;
}

/* Ícono */
.app-icon {
    width: 100%;
    /* Ocupar todo el contenedor */
    height: 100%;
    /* Ocupar todo el contenedor */
    object-fit: cover;
    /* Ajustado */
}

/* Contenido de la tarjeta */
.app-content {
    flex-grow: 1;
}

.app-name {
    font-size: 13pt;
    font-weight: bold;
}

.app-rating {
    font-size: 10pt;
    color: var(--color-01);
}

.app-description {
    font-size: 10pt;
    color: var(--color-01);
    margin: 0;
    line-height: 1.2em;
}

.app-list {
    display: grid;
    gap: 10px;
}

#article {
    max-width: 100%;
    margin: 0 auto;
    line-height: 1.8;
    padding: 30px;
}

#article p, #article li {
    margin-bottom: 20px;
    line-height: 1.3em;
    color: var(--color-01);
    text-align: justify;
}

#article h1,
#article h2,
#article h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#article h2 {
    font-size: 13pt;
}

#articles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.article-card {
    gap: 15px;
    background-color: var(--color-04);
    border-radius: var(--border-radius);
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: var(--color-00) solid 1px;
    max-width: calc(50% - 20px);
    flex: 1 1 calc(50% - 20px);
}
.article-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: var(--border-radius);
}
.article-card-content {
    flex: 1;
}
.article-card-content h3 {
    font-size: 13pt;
    margin-bottom: 8px;
    line-height: 1.3em;
}
.article-card-content p {
    font-size: 10pt;
    margin-bottom: 20px;
    line-height: 1.2em;
    height: 127px;
    overflow: hidden;
}
.article-card-content a {
    text-align: right;
    width: 100%;
    font-size: 11pt;
    font-weight: bold;
    display: block;
}

.btn-call-to-action {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.btn-call-to-action:hover {
    transform: translateY(-3px) scale(1.07);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.footer-content a {
    text-decoration: none;
}

#breadcrumb nav[aria-label="breadcrumb"] ol {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#breadcrumb nav[aria-label="breadcrumb"] li {
    margin-right: 8px;
}

#breadcrumb nav[aria-label="breadcrumb"] li+li::before {
    content: ">";
    margin-right: 8px;
    color: var(--color-01);
}

.cls-1 {
    fill: var(--color-01);
}

#newsletter-section iframe {
    border: none;
}

.bKIcfo {
    border: none!important;
}

#articles-section>a {
    background-color: var(--color-00);
    color: var(--color-03);
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 11pt;
}

.article-container {
    display: flex;
    flex-direction: column;
}

.article-content {
    order: 2;
}

.article-content h3 {
    font-size: 12pt;
}

.article-sidebar {
    order: 1;
    padding-left: 0;
    padding-bottom: 20px;
    flex: 1 1 25%;
    padding-top: 20px;
}

.article-sidebar p {
    margin-bottom: 5px!important;
}

@media screen and (min-width: 768px) {
    header {
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: initial;
        position: initial;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }

    nav ul li a {
        color: var(--color-01);
        display: block;
        width: 132px;
        text-align: center;
        height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
    }

    p,
    label,
    ul {
        font-size: 12pt;
    }

    h1,
    h2 {
        font-size: 15pt;
        line-height: 17pt;
    }

    h3 {
        font-size: 13pt;
    }

    footer h4 {
        text-align: center;
    }

    .hamburger-menu {
        display: none;
    }

    .logo {
        width: 100px;
        margin-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .client-logos {
        display: grid;
        /* Ensure the container uses a grid layout */
        align-items: center;
        /* Vertically center the logos within their grid cells */
        justify-content: center;
        /* Center the items within the container */
        gap: 10px;
        /* Add space between the logo elements */
        margin-top: 16px;
    }

    .app .title {
        font-size: 12pt;
        line-height: 14pt;
    }

    .app p {
        font-size: 10pt;
        line-height: 12pt;
    }

    .app img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
    }

    .grow {
        display: initial;
        object-fit: cover;
    }

    .grow-content {
        display: flex;
        padding-bottom: 40px;
    }

    .grow-text {
        padding-right: 50px;
    }

    .feature p {
        line-height: 15pt;
    }

    .feature {
        max-width: 470px;
    }

    .contact-container {
        display: flex;
    }

    .feature:nth-child(0) {
        margin-top: 40px;
    }

    .links-container {
        display: flex;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
    }

    .links-container div:nth-child(1) h4 {
        text-align: left;
    }

    .copyright {
        text-align: center;
        margin-top: 50px;
    }

    .footer-content {
        padding-top: 20px;
    }

    header,
    #apps-section,
    #articles-section,
    #newsletter-section,
    #why-choose-us,
    #contact,
    #breadcrumb,
    .footer-content,
    #toc,
    #article {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    #home {
        background-size: cover;
    }

    #contact form,
    #contact p {
        flex: 1;
    }

    #contact p {
        padding-top: 20px;
    }

    #contact form {
        padding-top: 0px;
    }

    .article-container {
        flex-direction: row;
    }

    .article-content {
        order: 1;
        flex: 3 1 75%;
    }

    .article-sidebar {
        order: 2;
        padding-left: 20px;
        padding-bottom: 0;
    }

    .article-card {
        flex: 1 1 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
}

@media screen and (min-width: 992px) {
    header,
    #apps-section,
    #articles-section,
    #newsletter-section,
    #why-choose-us,
    #contact,
    #breadcrumb,
    .footer-content,
    #toc,
    #article {
        max-width: 960px;
    }

    .app-list {
        grid-template-columns: repeat(auto-fill, 49%)
    }

    .article-card {
        flex: 1 1 calc(20% - 20px);
        max-width: calc(20% - 20px);
    }
}

@media screen and (min-width: 1200px) {
    header,
    #apps-section,
    #articles-section,
    #newsletter-section,
    #why-choose-us,
    #contact,
    #breadcrumb,
    .footer-content,
    #toc,
    #article {
        max-width: 1140px;
    }

    .app-list {
        grid-template-columns: repeat(auto-fill, 32%)
    }
}

@media screen and (min-width: 1400px) {
    header,
    #apps-section,
    #articles-section,
    #newsletter-section,
    #why-choose-us,
    #contact,
    #breadcrumb,
    .footer-content,
    #toc {
        max-width: 1320px;
    }

    .app-list {
        grid-template-columns: repeat(auto-fill, 32%)
    }
}

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: #555;
        color: #f0f0f0;
    }

    nav ul li a {
        color: #ddd;
    }

    .app-card, .article-card {
        background-color: transparent;
        color: #f0f0f0;
    }

    .article-card {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    }

    .icon-container {
        background-color: #555;
    }

    input, textarea, button {
        background-color: #666;
        color: #f0f0f0;
    }

    .app-description, p, li {
        color: #ddd;
    }

    #article p, #article li {
        color: #ddd;
    }

    .logo .cls-1 {
        fill: #ddd;
    }

    ::placeholder {
        color: #bbb;
    }
} */
